extends layout

block content 
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
    .container
      a.navbar-brand(href='#page-top') EDISSON  MENESES
      button.navbar-toggler.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ms-auto
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded(href='#portfolio') Portfolio
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded(href='#about') About
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded(href='#contact') Contact
  // Masthead
  header.masthead.bg-primary.text-white.text-center
    .container.d-flex.align-items-center.flex-column
      // Masthead Avatar Image /assets/img/person.jpeg
      img.masthead-avatar.mb-5.rounded(src='./assets/img/person.jpeg' alt='desarrollador web')
      // Masthead Heading
      h1.masthead-heading.text-uppercase.mb-0 STACK MERN
      // Icon Divider
      .divider-custom.divider-light
        .divider-custom-line
        .divider-custom-icon
          i.fas.fa-star
        .divider-custom-line
      // Masthead Subheading
      p.masthead-subheading.font-weight-light.mb-0 Frontend Developer - Web Designer - FullStack Developer
  // Portfolio Section
  section#portfolio.page-section.portfolio
    .container
      // Portfolio Section Heading
      h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Portfolio
      // Icon Divider
      .divider-custom
        .divider-custom-line
        .divider-custom-icon
          i.fas.fa-star
        .divider-custom-line
      // Portfolio Grid Items
      .row.justify-content-center
        // Portfolio Item 1
        .col-md-6.col-lg-4.mb-5
          .portfolio-item.mx-auto(data-bs-toggle='modal' data-bs-target='#portfolioModal1')
            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
              .portfolio-item-caption-content.text-center.text-white
                i.fas.fa-plus.fa-3x
            img.img-fluid(src='./assets/img/portfolio/htmlcss.jpeg' alt='datos html')
        // Portfolio Item 2
        .col-md-6.col-lg-4.mb-5
          .portfolio-item.mx-auto(data-bs-toggle='modal' data-bs-target='#portfolioModal2')
            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
              .portfolio-item-caption-content.text-center.text-white
                i.fas.fa-plus.fa-3x
            img.img-fluid(src='./assets/img/portfolio/htmlcssj.jpeg' alt='html y css')
        // Portfolio Item 3
        .col-md-6.col-lg-4.mb-5
          .portfolio-item.mx-auto(data-bs-toggle='modal' data-bs-target='#portfolioModal3')
            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
              .portfolio-item-caption-content.text-center.text-white
                i.fas.fa-plus.fa-3x
            img.img-fluid(src='./assets/img/portfolio/htmlcssjs.jpeg' alt='html ycss')
        // Portfolio Item 4
        .col-md-6.col-lg-4.mb-5.mb-lg-0
          .portfolio-item.mx-auto(data-bs-toggle='modal' data-bs-target='#portfolioModal4')
            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
              .portfolio-item-caption-content.text-center.text-white
                i.fas.fa-plus.fa-3x
            img.img-fluid(src='./assets/img/portfolio/react.jpeg' alt='css foto')
        // Portfolio Item 5
        .col-md-6.col-lg-4.mb-5.mb-md-0
          .portfolio-item.mx-auto(data-bs-toggle='modal' data-bs-target='#portfolioModal5')
            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
              .portfolio-item-caption-content.text-center.text-white
                i.fas.fa-plus.fa-3x
            img.img-fluid(src='./assets/img/portfolio/reduxLogo.webp' alt='redux foto')
        // Portfolio Item 6
        .col-md-6.col-lg-4.mb-5.mb-md-0
          .portfolio-item.mx-auto(data-bs-toggle='modal' data-bs-target='#portfolioModal6')
            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
              .portfolio-item-caption-content.text-center.text-white
                i.fas.fa-plus.fa-3x
            img.img-fluid(src='./assets/img/portfolio/datos.jpeg' alt='datos backend')
  // About Section
  section#about.page-section.bg-primary.text-white.mb-0
    .container
      // About Section Heading
      h2.page-section-heading.text-center.text-uppercase.text-white About Me
      // Icon Divider
      .divider-custom.divider-light
        .divider-custom-line
        .divider-custom-icon
          i.fas.fa-star
        .divider-custom-line
      // About Section Content
      .row
        .col-lg-4.ms-auto
          p.lead
            | I have had a  dream in my life and I have struggled a lot to achieve it.My passion is programming and for several years I have dedicated myself to learn frontend development and now I am finishing study Fullstack Mern. I have knowledge in everything related to the frontend with html react saas and in the backend with node, express, Mongodb. My work experience has been as a freelancer working for various companies.My attitude is
            | always positive and willing to learn new things.
        .col-lg-4.me-auto
          p.lead
            | I want to find  a team  to work with them and i want to share my knowledge and learn of them.
      // About Section Button
      .text-center.mt-3
        a.btn.btn-xl.btn-outline-light(href='#')
          i.fas.fa-star.me-2
          |                         Inicio
  // Contact Section
  section#contact.page-section
    .container
      // Contact Section Heading
      h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Contact Me
      // Icon Divider
      .divider-custom
        .divider-custom-line
        .divider-custom-icon
          i.fas.fa-star
        .divider-custom-line
      // Contact Section Form
      .row.justify-content-center
        .col-lg-8.col-xl-7
          //formsubmit
          form(enctype='multipart/form-data' action='https://formsubmit.co/f87ec4074473a958bd432c05405c127c' method='POST' target='_self')
            // Name input
            .form-floating.mb-3
              input#name.form-control(name='FullName' type='text' placeholder='Enter your name...' title='An name is required' required='')
              label(for='name') Full name
            // Email address input
            .form-floating.mb-3
              input#email.form-control(name='email' type='email' placeholder='name@example.com' pattern='^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$' required='')
              label(for='email') Email address
              // Phone number input
              .form-floating.mb-3
                input#phone.form-control(name='phone' type='tel' placeholder='(123) 456-7890' pattern='^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*$' required='')
                label(for='phone') Phone number
              // Message input
              .form-floating.mb-3
                textarea#message.form-control(name='essage' type='text' placeholder='Enter your message here...' style='height: 10rem')
                label(for='message') Message
                // Submit Button
                input.btn.btn-primary.btn-xl(type='submit' value='send')
                input.btn.btn-primary.btn-xl(type='reset' value='reset')
  // Footer
  footer.footer.text-center
    .container
      .row
        // Footer Location
        .col-lg-4.mb-5.mb-lg-0
          h4.text-uppercase.mb-4 Location
          p.lead.mb-0
            | Colombia
            br
            |                            Bogota D.C
        // Footer Social Icons
        .col-lg-4.mb-5.mb-lg-0
          h4.text-uppercase.mb-4 Around the Web
          a.btn.btn-outline-light.btn-social.mx-1(href='https://github.com/edisson89')
            i.fab.fa-fw.fa-git(style='color: #7ab2ba;')
          a.btn.btn-outline-light.btn-social.mx-1(href='https://www.linkedin.com/in/edisson-meneses-31a123249/')
            i.fab.fa-fw.fa-linkedin-in(style='color: #576290;')
          a.btn.btn-outline-light.btn-social.mx-1(href='https://www.workana.com/freelancer/acad25a0e8bc66b51b04bc07147cfb9e')
            i.fa-solid.fa-w(style='color: #7b3271;')
        // Footer About Text
        .col-lg-4
          h4.text-uppercase.mb-4 About Freelancer
          p.lead.mb-0
            | Web desarrollada con Bootstrap,
            a(href='#') Portfolio
            |                             .
  // Copyright Section
  .copyright.py-4.text-center.text-white
    .container
      small Copyright &copy; Portfolio 2023
  // Portfolio Modals
  // Portfolio Modal 1
  #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1' aria-labelledby='portfolioModal1' aria-hidden='true')
    .modal-dialog.modal-xl
      .modal-content
        .modal-header.border-0
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body.text-center.pb-5
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Frontend Developer
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='./assets/img/portfolio/htmlcss.jpeg' alt='imagen css js')
                // Portfolio Modal - Text
                p.mb-4 My skills Frontend are: HTML , CSS , SAAS ,  SCSS, Javascript, Redux
                button.btn.btn-primary(data-bs-dismiss='modal')
                  i.fas.fa-xmark.fa-fw
                  |                                         Close Window
  // Portfolio Modal 2
  #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1' aria-labelledby='portfolioModal2' aria-hidden='true')
    .modal-dialog.modal-xl
      .modal-content
        .modal-header.border-0
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body.text-center.pb-5
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Other skills Frontend 
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='./assets/img/portfolio/htmlcssj.jpeg' alt='...')
                // Portfolio Modal - Text
                p.mb-4 Other skills frontend are: Jquery,WordPress, WooCommerce, Wix
                button.btn.btn-primary(data-bs-dismiss='modal')
                  i.fas.fa-xmark.fa-fw
                  |                                         Close Window
  // Portfolio Modal 3
  #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1' aria-labelledby='portfolioModal3' aria-hidden='true')
    .modal-dialog.modal-xl
      .modal-content
        .modal-header.border-0
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body.text-center.pb-5
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 My Skills Frontend Test 
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='./assets/img/portfolio/htmlcssjs.jpeg' alt='...')
                // Portfolio Modal - Text
                p.mb-4 My skills testings are  Jest, Mocha
                button.btn.btn-primary(data-bs-dismiss='modal')
                  i.fas.fa-xmark.fa-fw
                  |                                         Close Window
  // Portfolio Modal 4
  #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1' aria-labelledby='portfolioModal4' aria-hidden='true')
    .modal-dialog.modal-xl
      .modal-content
        .modal-header.border-0
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body.text-center.pb-5
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 My Skill Frameworks
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='./assets/img/portfolio/htmlcssjs.jpeg' alt='...')
                // Portfolio Modal - Text
                p.mb-4 My Skill frameworks are: React, React Native
                button.btn.btn-primary(data-bs-dismiss='modal')
                  i.fas.fa-xmark.fa-fw
                  |                                         Close Window
  // Portfolio Modal 5
  #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1' aria-labelledby='portfolioModal5' aria-hidden='true')
    .modal-dialog.modal-xl
      .modal-content
        .modal-header.border-0
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body.text-center.pb-5
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 My skills Servers
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='./assets/img/portfolio/redux.webp' alt='imagen de redux')
                // Portfolio Modal - Text
                p.mb-4 My skills servers are : Node, express,http
                button.btn.btn-primary(data-bs-dismiss='modal')
                  i.fas.fa-xmark.fa-fw
                  |                                         Close Window
  // Portfolio Modal 6
  #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1' aria-labelledby='portfolioModal6' aria-hidden='true')
    .modal-dialog.modal-xl
      .modal-content
        .modal-header.border-0
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body.text-center.pb-5
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 My skill Database
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='./assets/img/portfolio/datos.jpeg' alt='...')
                // Portfolio Modal - Text
                p.mb-4
                  | My database skills  are:
                  | Mongodb, Sql, Aws
                button.btn.btn-primary(data-bs-dismiss='modal')
                  i.fas.fa-xmark.fa-fw
                  |                                         Close Window
  // Bootstrap core JS
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
  // Core theme JS
  script(src='/public/javascripts/scripts.js')
  // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  // * *                               SB Forms JS                               * *
  // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
  // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')





  //- // Navigation
  //- nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
  //-   .container
  //-     a.navbar-brand(href='#page-top') Edisson Meneses
  //-     button.navbar-toggler.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
  //-       | Menu
  //-       i.fas.fa-bars
  //-     #navbarResponsive.collapse.navbar-collapse
  //-       ul.navbar-nav.ms-auto
  //-         li.nav-item.mx-0.mx-lg-1
  //-           a.nav-link.py-3.px-0.px-lg-3.rounded(href='#portfolio') Portfolio
  //-         li.nav-item.mx-0.mx-lg-1
  //-           a.nav-link.py-3.px-0.px-lg-3.rounded(href='#about') About
  //-         li.nav-item.mx-0.mx-lg-1
  //-           a.nav-link.py-3.px-0.px-lg-3.rounded(href='#contact') Contact
  //- // Masthead
  //- header.masthead.bg-primary.text-white.text-center
  //- .container.d-flex.align-items-center.flex-column
  //-   // Masthead Avatar Image
  //-   img.masthead-avatar.mb-5(src='/assets/img/avataaars.svg' alt='...')
  //-   // Masthead Heading
  //-   h1.masthead-heading.text-uppercase.mb-0 FullStack Web
  //-   // Icon Divider
  //-   .divider-custom.divider-light
  //-     .divider-custom-line
  //-     .divider-custom-icon
  //-       i.fas.fa-star
  //-     .divider-custom-line
  //-   // Masthead Subheading
  //-   p.masthead-subheading.font-weight-light.mb-0 Frontend Developer - Web Designer - Mern Stack
  //- // Portfolio Section
  //- section#portfolio.page-section.portfolio
  //-   .container
  //-     // Portfolio Section Heading
  //-     h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Portfolio
  //-     // Icon Divider
  //-     .divider-custom
  //-       .divider-custom-line
  //-       .divider-custom-icon
  //-         i.fas.fa-star
  //-       .divider-custom-line
  //-     // Portfolio Grid Items
  //-     .row.justify-content-center
  //-       // Portfolio Item 1
  //-       .col-md-6.col-lg-4.mb-5
  //-         .portfolio-item.mx-auto(data-bs-toggle='modal' data-bs-target='#portfolioModal1')
  //-           .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
  //-             .portfolio-item-caption-content.text-center.text-white
  //-               i.fas.fa-plus.fa-3x
  //-           img.img-fluid(src='/assets/img/portfolio/cabin.png' alt='...')
  //-       // Portfolio Item 2
  //-       .col-md-6.col-lg-4.mb-5
  //-         .portfolio-item.mx-auto(data-bs-toggle='modal' data-bs-target='#portfolioModal2')
  //-           .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
  //-             .portfolio-item-caption-content.text-center.text-white
  //-               i.fas.fa-plus.fa-3x
  //-           img.img-fluid(src='/assets/img/portfolio/cake.png' alt='...')
  //-       // Portfolio Item 3
  //-       .col-md-6.col-lg-4.mb-5
  //-         .portfolio-item.mx-auto(data-bs-toggle='modal' data-bs-target='#portfolioModal3')
  //-           .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
  //-             .portfolio-item-caption-content.text-center.text-white
  //-               i.fas.fa-plus.fa-3x
  //-           img.img-fluid(src='/assets/img/portfolio/circus.png' alt='...')
  //-       // Portfolio Item 4
  //-       .col-md-6.col-lg-4.mb-5.mb-lg-0
  //-         .portfolio-item.mx-auto(data-bs-toggle='modal' data-bs-target='#portfolioModal4')
  //-           .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
  //-             .portfolio-item-caption-content.text-center.text-white
  //-               i.fas.fa-plus.fa-3x
  //-           img.img-fluid(src='assets/img/portfolio/game.png' alt='...')
  //-       // Portfolio Item 5
  //-       .col-md-6.col-lg-4.mb-5.mb-md-0
  //-         .portfolio-item.mx-auto(data-bs-toggle='modal' data-bs-target='#portfolioModal5')
  //-           .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
  //-             .portfolio-item-caption-content.text-center.text-white
  //-               i.fas.fa-plus.fa-3x
  //-           img.img-fluid(src='assets/img/portfolio/safe.png' alt='...')
  //-       // Portfolio Item 6
  //-       .col-md-6.col-lg-4
  //-         .portfolio-item.mx-auto(data-bs-toggle='modal' data-bs-target='#portfolioModal6')
  //-           .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
  //-             .portfolio-item-caption-content.text-center.text-white
  //-               i.fas.fa-plus.fa-3x
  //-           img.img-fluid(src='assets/img/portfolio/submarine.png' alt='...')
  //- // About Section
  //- section#about.page-section.bg-primary.text-white.mb-0
  //-   .container
  //-     // About Section Heading
  //-     h2.page-section-heading.text-center.text-uppercase.text-white About Me
  //-     // Icon Divider
  //-     .divider-custom.divider-light
  //-       .divider-custom-line
  //-       .divider-custom-icon
  //-         i.fas.fa-star
  //-       .divider-custom-line
  //-     // About Section Content
  //-     .row
  //-       .col-lg-4.ms-auto
  //-         p.lead
  //-           | +3 years experience as a frontend developer. Working as frelancer and with teams with heigh level of innovation     and creativity. Help to improve the experience of user interface. Resolving  problems with all type  of designs.
  //-           | MOST RECENT WORK EXPERIENCE
  //-           | FRONTEND DEVELOPER at  La Mennais https://www.lamennais.edu.uy/
  //-           | November 2022 &ndash; [Argentina]
  //-           | RESPONSABILITIES
  //-           | &bull; Developing a interface friendly with the  user.
  //-           | &bull; Creating new components and styles  to the web page.
  //-           | &bull; Adding and personalizate the page web to be responsible and to be   more elegant and more updated
  //-           | &bull; Making filters to some products of the company.
  //-           | KEY  ACCOMPLISHMENTS
  //-           | &bull; Improved the application in usability and details.
  //-           | &bull; Worked in team Frontend and Backend effectively.
  //-           | FRONTEND DEVELOPER at Calculadora Fresenius http://programasnm.com/calculadora/
  //-           | September 2022 &ndash; [Colombia]
  //-           | RESPONSABILITIES
  //-           | &bull; Identify and prioritize initiatives to improve performance, reduce dependencies  and enhance the system to             show             a     excellent comparation product and  results.
  //-           | &bull; Making filters to some products of the company.
  //-           | KEY  ACCOMPLISHMENTS
  //-           | &bull; Improved the application in usability and details.
  //-           | &bull; Worked in team Frontend and Backend effectively.
  //-       .col-lg-4.me-auto
  //-         p.lead
  //-           | You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!
  //-     // About Section Button
  //-     .text-center.mt-4
  //-       a.btn.btn-xl.btn-outline-light(href='https://startbootstrap.com/theme/freelancer/')
  //-         i.fas.fa-download.me-2
  //-         |                         Free Download!
  //- // Contact Section
  //- section#contact.page-section
  //-   .container
  //-     // Contact Section Heading
  //-     h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Contact Me
  //-     // Icon Divider
  //-     .divider-custom
  //-       .divider-custom-line
  //-       .divider-custom-icon
  //-         i.fas.fa-star
  //-       .divider-custom-line
  //-     // Contact Section Form
  //-     .row.justify-content-center
  //-       .col-lg-8.col-xl-7
  //-         // * * * * * * * * * * * * * * *
  //-         // * * SB Forms Contact Form * *
  //-         // * * * * * * * * * * * * * * *
  //-         // This form is pre-integrated with SB Forms.
  //-         // To make this form functional, sign up at
  //-         // https://startbootstrap.com/solution/contact-forms
  //-         // to get an API token!
  //-         form#contactForm(data-sb-form-api-token='API_TOKEN')
  //-           // Name input
  //-           .form-floating.mb-3
  //-             input#name.form-control(type='text' placeholder='Enter your name...' data-sb-validations='required')
  //-             label(for='name') Full name
  //-             .invalid-feedback(data-sb-feedback='name:required') A name is required.
  //-           // Email address input
  //-           .form-floating.mb-3
  //-             input#email.form-control(type='email' placeholder='name@example.com' data-sb-validations='required,email')
  //-             label(for='email') Email address
  //-             .invalid-feedback(data-sb-feedback='email:required') An email is required.
  //-             .invalid-feedback(data-sb-feedback='email:email') Email is not valid.
  //-           // Phone number input
  //-           .form-floating.mb-3
  //-             input#phone.form-control(type='tel' placeholder='(123) 456-7890' data-sb-validations='required')
  //-             label(for='phone') Phone number
  //-             .invalid-feedback(data-sb-feedback='phone:required') A phone number is required.
  //-           // Message input
  //-           .form-floating.mb-3
  //-             textarea#message.form-control(type='text' placeholder='Enter your message here...' style='height: 10rem' data-sb-validations='required')
  //-             label(for='message') Message
  //-             .invalid-feedback(data-sb-feedback='message:required') A message is required.
  //-           // Submit success message
  //-           // 
  //-           // This is what your users will see when the form
  //-           // has successfully submitted
  //-           #submitSuccessMessage.d-none
  //-             .text-center.mb-3
  //-               .fw-bolder Form submission successful!
  //-               |                                     To activate this form, sign up at
  //-               br
  //-               a(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms
  //-           // Submit error message
  //-           // 
  //-           // This is what your users will see when there is
  //-           // an error submitting the form
  //-           #submitErrorMessage.d-none
  //-             .text-center.text-danger.mb-3 Error sending message!
  //-           // Submit Button
  //-           button#submitButton.btn.btn-primary.btn-xl.disabled(type='submit') Send
  //- // Footer
  //- footer.footer.text-center
  //-   .container
  //-     .row
  //-       // Footer Location
  //-       .col-lg-4.mb-5.mb-lg-0
  //-         h4.text-uppercase.mb-4 Location
  //-         p.lead.mb-0
  //-           | 2215 John Daniel Drive
  //-           br
  //-           |                             Clark, MO 65243
  //-       // Footer Social Icons
  //-       .col-lg-4.mb-5.mb-lg-0
  //-         h4.text-uppercase.mb-4 Around the Web
  //-         a.btn.btn-outline-light.btn-social.mx-1(href='#!')
  //-           i.fab.fa-fw.fa-facebook-f
  //-         a.btn.btn-outline-light.btn-social.mx-1(href='#!')
  //-           i.fab.fa-fw.fa-twitter
  //-         a.btn.btn-outline-light.btn-social.mx-1(href='#!')
  //-           i.fab.fa-fw.fa-linkedin-in
  //-         a.btn.btn-outline-light.btn-social.mx-1(href='#!')
  //-           i.fab.fa-fw.fa-dribbble
  //-       // Footer About Text
  //-       .col-lg-4
  //-         h4.text-uppercase.mb-4 About Freelancer
  //-         p.lead.mb-0
  //-           | Freelance is a free to use, MIT licensed Bootstrap theme created by
  //-           a(href='http://startbootstrap.com') Start Bootstrap
  //-           |                             .
  //- // Copyright Section
  //- .copyright.py-4.text-center.text-white
  //-   .container
  //-     small Copyright &copy; Your Website 2023
  //- // Portfolio Modals
  //- // Portfolio Modal 1
  //- #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1' aria-labelledby='portfolioModal1' aria-hidden='true')
  //- .modal-dialog.modal-xl
  //-   .modal-content
  //-     .modal-header.border-0
  //-       button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
  //-     .modal-body.text-center.pb-5
  //-       .container
  //-         .row.justify-content-center
  //-           .col-lg-8
  //-             // Portfolio Modal - Title
  //-             h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Log Cabin
  //-             // Icon Divider
  //-             .divider-custom
  //-               .divider-custom-line
  //-               .divider-custom-icon
  //-                 i.fas.fa-star
  //-               .divider-custom-line
  //-             // Portfolio Modal - Image
  //-             img.img-fluid.rounded.mb-5(src='assets/img/portfolio/cabin.png' alt='...')
  //-             // Portfolio Modal - Text
  //-             p.mb-4
  //-               | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
  //-             button.btn.btn-primary(data-bs-dismiss='modal')
  //-               i.fas.fa-xmark.fa-fw
  //-               |                                         Close Window
  //- // Portfolio Modal 2
  //- #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1' aria-labelledby='portfolioModal2' aria-hidden='true')
  //- .modal-dialog.modal-xl
  //-   .modal-content
  //-     .modal-header.border-0
  //-       button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
  //-     .modal-body.text-center.pb-5
  //-       .container
  //-         .row.justify-content-center
  //-           .col-lg-8
  //-             // Portfolio Modal - Title
  //-             h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Tasty Cake
  //-             // Icon Divider
  //-             .divider-custom
  //-               .divider-custom-line
  //-               .divider-custom-icon
  //-                 i.fas.fa-star
  //-               .divider-custom-line
  //-             // Portfolio Modal - Image
  //-             img.img-fluid.rounded.mb-5(src='assets/img/portfolio/cake.png' alt='...')
  //-             // Portfolio Modal - Text
  //-             p.mb-4
  //-               | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
  //-             button.btn.btn-primary(data-bs-dismiss='modal')
  //-               i.fas.fa-xmark.fa-fw
  //-               |                                         Close Window
  //- // Portfolio Modal 3
  //- #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1' aria-labelledby='portfolioModal3' aria-hidden='true')
  //- .modal-dialog.modal-xl
  //-   .modal-content
  //-     .modal-header.border-0
  //-       button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
  //-     .modal-body.text-center.pb-5
  //-       .container
  //-         .row.justify-content-center
  //-           .col-lg-8
  //-             // Portfolio Modal - Title
  //-             h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Circus Tent
  //-             // Icon Divider
  //-             .divider-custom
  //-               .divider-custom-line
  //-               .divider-custom-icon
  //-                 i.fas.fa-star
  //-               .divider-custom-line
  //-             // Portfolio Modal - Image
  //-             img.img-fluid.rounded.mb-5(src='assets/img/portfolio/circus.png' alt='...')
  //-             // Portfolio Modal - Text
  //-             p.mb-4
  //-               | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
  //-             button.btn.btn-primary(data-bs-dismiss='modal')
  //-               i.fas.fa-xmark.fa-fw
  //-               |                                         Close Window
  //- // Portfolio Modal 4
  //- #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1' aria-labelledby='portfolioModal4' aria-hidden='true')
  //- .modal-dialog.modal-xl
  //-   .modal-content
  //-     .modal-header.border-0
  //-       button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
  //-     .modal-body.text-center.pb-5
  //-       .container
  //-         .row.justify-content-center
  //-           .col-lg-8
  //-             // Portfolio Modal - Title
  //-             h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Controller
  //-             // Icon Divider
  //-             .divider-custom
  //-               .divider-custom-line
  //-               .divider-custom-icon
  //-                 i.fas.fa-star
  //-               .divider-custom-line
  //-             // Portfolio Modal - Image
  //-             img.img-fluid.rounded.mb-5(src='assets/img/portfolio/game.png' alt='...')
  //-             // Portfolio Modal - Text
  //-             p.mb-4
  //-               | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
  //-             button.btn.btn-primary(data-bs-dismiss='modal')
  //-               i.fas.fa-xmark.fa-fw
  //-               |                                         Close Window
  //- // Portfolio Modal 5
  //- #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1' aria-labelledby='portfolioModal5' aria-hidden='true')
  //- .modal-dialog.modal-xl
  //-   .modal-content
  //-     .modal-header.border-0
  //-       button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
  //-     .modal-body.text-center.pb-5
  //-       .container
  //-         .row.justify-content-center
  //-           .col-lg-8
  //-             // Portfolio Modal - Title
  //-             h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Locked Safe
  //-             // Icon Divider
  //-             .divider-custom
  //-               .divider-custom-line
  //-               .divider-custom-icon
  //-                 i.fas.fa-star
  //-               .divider-custom-line
  //-             // Portfolio Modal - Image
  //-             img.img-fluid.rounded.mb-5(src='assets/img/portfolio/safe.png' alt='...')
  //-             // Portfolio Modal - Text
  //-             p.mb-4
  //-               | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
  //-             button.btn.btn-primary(data-bs-dismiss='modal')
  //-               i.fas.fa-xmark.fa-fw
  //-               |                                         Close Window
  //- // Portfolio Modal 6
  //- #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1' aria-labelledby='portfolioModal6' aria-hidden='true')
  //- .modal-dialog.modal-xl
  //-   .modal-content
  //-     .modal-header.border-0
  //-       button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
  //-     .modal-body.text-center.pb-5
  //-       .container
  //-         .row.justify-content-center
  //-           .col-lg-8
  //-             // Portfolio Modal - Title
  //-             h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Submarine
  //-             // Icon Divider
  //-             .divider-custom
  //-               .divider-custom-line
  //-               .divider-custom-icon
  //-                 i.fas.fa-star
  //-               .divider-custom-line
  //-             // Portfolio Modal - Image
  //-             img.img-fluid.rounded.mb-5(src='assets/img/portfolio/submarine.png' alt='...')
  //-             // Portfolio Modal - Text
  //-             p.mb-4
  //-               | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
  //-             button.btn.btn-primary(data-bs-dismiss='modal')
  //-               i.fas.fa-xmark.fa-fw
  //-               |                                         Close Window
  //- // Bootstrap core JS
  //- script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
  //- // Core theme JS
  //- script(src='/public/javascripts/scripts.js')
  //- // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  //- // * *                               SB Forms JS                               * *
  //- // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
  //- // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  //- script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')

